/* 
  http://themefoundation.com/two-column-css-layout/
*/

/* =Reset ----------------------------------------------------------- */
 
* {
  font-family: Sans-Serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}
 
html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* =Structure ----------------------------------------------------------- */
 
.wrap{
 max-width: 800px;
 margin: 0 auto;
}
 
.wrap:after {
 content: "";
 display: table;
 clear: both;
}

#primary{
  margin: 0 0;
}
 
#secondary{
  margin: 0 0;
}

/* =Media Queries ----------------------------------------------------------- */
 
@media screen and (min-width : 800px) and (orientation : landscape) {
 #primary{
   max-width: 640px;
   margin: 0 auto;
   float: left;
   width: 60%;
   padding-right: 2em;
 }
 
 #secondary{
   max-width: 160px;
   margin: 0 auto;
   float: left;
   width: 40%;
 }
}

/* =Actual Styles ----------------------------------------------------------- */

img { 
  max-width: 100%; 
}

/* =CSS Menu----------------------------------------------------------------- */

#secondary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #dddddd;
  border: 1px solid #bbbbbb;
}

#secondary ul li{
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid grey;
}

#secondary ul li:last-child {
  border-bottom:none;
}

#secondary ul li a {
  display: block;
  padding: 0.3em;
  text-decoration: none;
  color: black;
}

#secondary ul li a:hover {
  color: white;
  background-color: #bbbbbb;
}

#secondary ul li a.active {
  color: white;
  background-color: #bbbbbb;
}
