---
layout: default
title: My Crosswords
permalink: /crosswords/
---

<h1>Solved Crosswords</h1>
<p>A collection of crosswords that I've solved</p>

<ul class="tabular-list">
  {% for post in site.posts %}
    {% if post.path contains "_posts/crosswords" %}
      <li class="tabular-item">
        <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>
        <span class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% if site.categories.crosswords.size == 0 %}
  <p>No crosswords added yet. Check back soon!</p>
{% endif %}
