---
layout: default
title: Solved Crosswords
permalink: /crosswords/
---
<p>On the train in and out of London, I usually try to do the cryptic crossword.  Sometimes I finish one.  This is a collection of some that I've finished without needing a dictionary, thesaurus or anagram finder.</p>

<ul class="tabular-list">
  {% for post in site.posts %}
    {% if post.path contains "_posts/crosswords" %}
      <li class="tabular-item">
        <span class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </span>
        <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>
     </li>
    {% endif %}
  {% endfor %}
</ul>

