---
layout: default
title: My Crosswords
permalink: /crosswords/
---

<h2>Solved Crosswords</h2>
<p>A collection of crosswords that I've solved</p>

<div>
  {% for post in site.posts %}
    {% if post.path contains "/crosswords" %}
      <li>
        <span class="post-date">{{ post.date | date: "%d %b, %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</div>

{% if site.categories.crosswords.size == 0 %}
  <p>No crosswords added yet. Check back soon!</p>
{% endif %}
