<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <script>
      function setActive() {
        var nav = document.getElementById('secondary'),
        anchor = nav.getElementsByTagName('a'),
        current = window.location.pathname.split('/')[1];
        for (var i = 0; i < anchor.length; i++) {
          if(anchor[i].href == current) {
            anchor[i].className = "active";
          }
        }
      }
      window.onload = setActive;
    </script>
    <div id="page">
      <div id="header">
        <div class="wrap">
          <h1>{{ page.title }}</h1>
        </div><!--wrap-->
      </div><!--#header-->
      <div id="main">
        <div class="wrap">
          <div id="primary">
            {{ content }}
          </div><!--#primary-->
          <div id="secondary">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div><!--#secondary-->
        </div><!--#wrap-->
      </div><!--#main-->
      <div id="footer">
        <div class="wrap">


        </div><!--wrap-->
      </div><!--#footer-->
    </div><!--#page-->
  </body>
</html>
